:root {

    --width: 800px;
    --height: 800px;

    --tileWidth: 325px;
    --tileHeight: 325px;

    --metallic_yellow: #FED90F;
    --light_french_beige: #D1B271;
    --white: #FFFFFF;
    --Maya_Blue: #70D1FE;
    --Outer_Space: #424F46;

    /* Bart Simpson */
    --Jonquil: #FED41D;
    --Flame: #F14E28;
    --Rich_Electric_Blue: #009DDC;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Homer Simpson Revised', sans-serif;
   
}
body {
    background-color: var(--metallic_yellow);
}





.instructions {
  font-size: 3em;
  color: var(--Outer_Space);
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  justify-content: center;
 
  top: 4em;
  position: relative;
}
.instructions > div {
  margin: 0 auto;
  width: 75%;
}

 .container {
    position: relative;
    display: flex;

     /* background-image: url('./images/mmm_donuts_background.png'); */
     /* background-image: url('./images/Homer_Bart_Donut_background.png'); */
    
     height: 100vh;
 }




.gameboardContainer {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;  
    order: 2;

}
#homer{
    order: 1;
}
#bart {
    order: 3;
    z-index: 2;
}








.gameboard {
    width: var(--width); 
    height: var(--height);
   
    /* to keep console control centered */
    position: absolute;
    /* Shapes gameboard into a circle */
    border-radius: 100%;

    /* Border and Shadow effects where for the game when it the donut background-image is not displayed */
    /* border: 10px solid; */
    /* box-shadow: 8px 8px 15px 5px rgb(46, 41, 41); */

    background-image: url('/SimonSays/images/donut2.png');
    background-size: 50em;
    background-position: center;
    background-repeat: no-repeat;

   
}





.tile {
    width: var(--tileWidth);
    height: var(--tileHeight);
    /* display: inline-block changes tiles to row layout */
    display: inline-block;
    /* Creates pie shapes */
    border-top-left-radius: 100%;
    -mox-border-top-left-radius: 100%;
    -webkit-border-top-left-radius: 100%;
    /* marging adjusts spacing between game tiles */
    position: relative;
    top: 2em;
    left: 2em;
    margin: 1em;
    border: 5px solid;
}
#green {
    background-color: green;
}
#red {
    background-color: red;
    transform: rotateZ(90deg);
}
#yellow {
    background-color: var(--metallic_yellow);
    transform: rotateZ(-90deg);
}
#blue {
    background-color: blue;
    transform: rotateZ(180deg);
}








.gameControls {
    width: var(--tileWidth);
    height: var(--tileHeight);
    background: var(--metallic_yellow);
   
    font-size: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border: 5px solid;

    z-index: 1;
     
    /* Shapes gameboard into a circle */
    border-radius: 100%;
}








/* Simpsons Video Fade out */

#videoDiv {
    height: 100vh;
    position: relative;
}
#video {
    position: absolute;
}

.removed {
    /* transform: translateY(-100vh); */
    transform: scaleY(0);
    /* transition: up 0.2s ease-out; */
}
#videoDiv {
    transition: transform 1s 0s;
}
.videoDiv{
    overflow-x: hidden;
}


