* {
    margin: 0;
    padding: 0;
}

html, 
body{
    box-sizing: border-box;
    background-color: #060C1F;
    display: flex;
    justify-content: center;
}

.container {
    width: 500px; 
    height: 500px; 
    box-sizing: border-box;
    border: 1px solid black;
    /* height: 100vh; */
    
    display: flex;
    align-items: center;
}

.simonGame {
    width: 500px; 
    height: 500px; 
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
   
    position: absolute;
}

/* Simon Game board (touch zones) */
.button {
    /* background-color: transparent; */
   
    width: 225px;
    height: 225px;
    border-radius: 50%;

    border-top: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid transparent; 
    /* position: absolute; */
    transform: rotateZ(-45deg)
}
.topLeft, .topRight, .bottomLeft, .bottomRight {
    box-sizing: border-box;
    width: 225px;
    height: 225px;
    /* background: #fff; */
    overflow: hidden;
}

.green {
    border-top: 100px solid green;
    position: relative;
    top: 10px;
    left: 10px;
}
.greenInner, .redInner, .yellowInner, .blueInner {
    background: transparent;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    transform: rotateZ(-45deg);
}

.greenInner:hover {
    box-shadow:
        0 0 15px 5px #fff,  /* inner white */
        0 0 400px 5px green, /* middle green */
        0 0 30px 15px #0ff; /* outer cyan */
}
.redInner:hover {
    box-shadow:
        0 0 15px 5px #fff,  /* inner white */
        0 0 30px 25px red, /* middle green */
        0 0 30px 15px #0ff; /* outer cyan */
}
.yellowInner:hover {
    box-shadow:
        0 0 15px 5px #fff,  /* inner white */
        0 0 400px 5px yellow, /* middle green */
        0 0 30px 15px #0ff; /* outer cyan */
}
.blueInner:hover {
    box-shadow:
        0 0 15px 5px #fff,  /* inner white */
        0 0 30px 25px blue, /* middle green */
        0 0 30px 15px #0ff; /* outer cyan */
}

.red {
    border-right: 100px solid red;
    position: relative;
    top: 10px;
    left: -220px;
}
.yellow{
    border-left: 100px solid yellow; 
    position: relative;
    top: -230px;
    left: 10px;
}
.blue {
    border-bottom: 100px solid blue;
    position: relative;
    top: -230px;
    left: -220px; 
}

.green:hover {
    /* in order: x offset, y offset, blur size, spread size, color */
    /* box-shadow:
        0 0 5px 5px #fff,  
        0 0 15px 15px green, 
        0 0 15px 20px #0ff;  */
    /* opacity: .8; */
    /* border-top-color: lightgreen; */
}
.red:hover {
    /* box-shadow:
        0 0 15px 5px #fff, 
        0 0 30px 25px red, 
        0 0 30px 15px #0ff;  */
    /* opacity: .9; */
    /* border-right-color: pink; */
}
.yellow:hover {
    /* box-shadow:
        0 0 15px 5px #fff,  
        0 0 30px 25px yellow, 
        0 0 30px 15px #0ff;  */
    /* opacity: .8; */
    /* border-left-color: yellow; */
}
.blue:hover {
    /* box-shadow:
        0 0 15px 5px #fff,  
        0 0 30px 25px blue, 
        0 0 30px 15px #0ff;  */
    /* opacity: .8; */
    /* border-bottom-color: blue; */
}
.gameControls {
    color: #fff;
    font-size: 50px;
    width: 220px;
    height: 220px;
    position: relative;
    top: -10px;
    left: 135px;
    border-radius: 50%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}