
/* This will show the borders as a tringle with a box 
    in the middle as the content, demonstrating that
    by removing the width and height of the object
    and keeping just the borders, you get a tringle */

.triangles,
.circles,
.simonGame {
    display: flex;
    background-color: #f1f1f1;
}
.tri {
    width: 20px;
    height: 20px;
    background-color: red;
    
}
.one {
    border-top: 60px solid blue;
    border-right: 60px solid green;
    border-bottom: 60px solid yellow;
    border-left: 60px solid grey;
}
/* Removing the width/height to capture the triangles
    created by the four borders.
    by changing the color of three border sides we can
    display just the one triangle (or others as needed) */
.two {
    width: 0;
    height: 0;
    border-top: 60px solid blue;
    border-right: 60px solid white;
    border-bottom: 60px solid white;
    border-left: 60px solid white;
}
/* By removing a border side for display (verse changing
    the color to hide it) we cut the object and get two
    small and one larger triangle to work with depending
    on what three margins we retain with a visible color */
.three {
    width: 0;
    height: 0;
    /* border-top: 60px solid blue; */
    border-right: 60px solid green;
    border-bottom: 60px solid yellow;
    border-left: 60px solid grey;
}
.four {
    width: 0;
    height: 0;
    background-color: transparent; /*This is to remove the global background color red above*/
    /* border-top: 60px solid blue; */
    border-right: 60px solid transparent;
    border-bottom: 60px solid yellow;
    border-left: 60px solid transparent;
}

/* Circles */

.circle {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* matching the border-radius with the width/height
        rounds the corners enough to give us a circle */

    /* Adding the borders with smaller pixels we get a ring
        around the circle */
    border-top: 2px solid green;
    border-right: 2px solid red;
    border-bottom: 2px solid blue;
    border-left: 2px solid yellow; 
    
    /* Use transform to rotate the ring */
    transform: rotateZ(-45deg)
}

/* A circle with four color ring */
.ring {
    background-color: transparent;
}
/*  */
.ring_2 {
    background-color: transparent;
    border: 30px solid purple;

    /* these need to be adjusted as we thicking the border
        above */
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.ring_3 {
    background-color: transparent;
    width: 225px;
    height: 225px;
    border-radius: 225px;
    border-top: 100px solid green;
    border-right: 100px solid transparent;
    border-bottom: 100px solid blue;
    border-left: 100px solid yellow; 
  
    transform: rotateZ(-45deg)
}

/* Simon Game board (touch zones) */
.button {
    background-color: transparent;
    width: 225px;
    height: 225px;
    border-radius: 225px;
    transform: rotateZ(-45deg)

    border-top: 100px solid green;
    border-right: 100px solid red;
    border-bottom: 100px solid blue;
    border-left: 100px solid yellow; 
    position: absolute;
    transform: rotateZ(-45deg)
}

.green {
    border-top: 100px solid green;
    border-right: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid transparent; 
}
.red {
    border-top: 100px solid transparent;
    border-right: 100px solid red;
    border-bottom: 100px solid transparent;
    border-left: 100px solid transparent; 
}
.blue {
    border-top: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid blue;
    border-left: 100px solid transparent; 
}
.yellow{
    border-top: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid yellow; 
}


