
html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    border: 1px solid;

    /* added for background glow */
    /* background-color: #060C1F; */
}

/* .gameboard > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
} */

/* .box { margin: 20px; } */
.topLeft { background-color: green; }
.topRight { background-color: red; }
.bottomLeft { background-color: yellow; }
.bottomRight { background-color: blue; }




/* Glowing text */
.box:hover {
    font-size: 25px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.topLeft {
    box-shadow: 0 0 30px #51eeee, 0 0 55px #51eeee, 0 0 80px #51eeee;
    box-shadow: 0 0 25px green, 0 0 50px green, 0 0 75px green;
    background: black;
}




/* Glow border effect */
/* 
* {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
} */

.topLeftGlow {
    content: '';
    position: relative;
    left: 0;
    top: 0;
    width: 100px;
    height: 110px;
    -webkit-box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
            box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
    z-index: -1;
    -webkit-animation-name: gradient-shadow;
            animation-name: gradient-shadow;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    /* border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; */
}

@-webkit-keyframes gradient-shadow {
    0% {
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        /* Any number of shadows, separated by commas */
        -webkit-box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
                box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
    }
    20% {
        -webkit-box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
                box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
    }
    40% {
        -webkit-box-shadow: 0 0 17px 3px #0f0,0 0 4px 2px #0f0;
                box-shadow: 0 0 17px 3px #0f0,0 0 4px 2px #0f0;
    }
    60% {
        -webkit-box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
                box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
    }
    80% {
        -webkit-box-shadow: 0 0 17px 3px #f00,0 0 4px 2px #f00;
                box-shadow: 0 0 17px 3px #f00,0 0 4px 2px #f00;
    }
    100% {
        -webkit-box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
                box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
    }
    }

    @keyframes gradient-shadow {
    0% {
        -webkit-box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
                box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
    }
    20% {
        -webkit-box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
                box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
    }
    40% {
        -webkit-box-shadow: 0 0 17px 3px #0f0,0 0 4px 2px #0f0;
                box-shadow: 0 0 17px 3px #0f0,0 0 4px 2px #0f0;
    }
    60% {
        -webkit-box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
                box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
    }
    80% {
        -webkit-box-shadow: 0 0 17px 3px #f00,0 0 4px 2px #f00;
                box-shadow: 0 0 17px 3px #f00,0 0 4px 2px #f00;
    }
    100% {
        -webkit-box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
                box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
    }
}


